body{
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    margin: 0 auto;
}

#image-size{
    width: 200px;
    border-radius: 75%;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(92, 101, 104, 0), rgba(92,101,104,0.75), rgba(92,101,104,0));
}

.alt-background {
    background-color: #53E6AB;
}

.social-icons{
    font-size: 3rem;
    padding-right: 50px;
}

.facebook{
    color: #1877f2;
}

.linkedIn{
    color: #0073b1;
}

.pinterest{
    color: #e60023;
}
